disable_mlock = false
ui = false
default_lease_ttl = "1h"
max_lease_ttl = "1h"

backend "file" {
  path = "/vault/file"
}

listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = 1
}

seal "transit" {
  address = "{{ autounseal_address }}"
  token = "{{ autounseal_token }}"
  disable_renewal = false
  key_name = "{{ autounseal_name }}"
  mount_path = "transit/"
  tls_skip_verify = true
}
